{% block content %}
<br>
<div class="container" style="background-color:rgb(183, 252, 217); padding: 20px;">
    <h3>New Project Requirement from {{ User }}</h3><hr>
    <p>Applied By Partner  : {{ User }}</p><hr>
    <p>Email               : {{ email }}</p><hr>
    <p>Phone               : {{ phone }}</p><hr>
    <p>Project Title       : {{ title }} </p><hr>
    <p>Project Description : {{ Description }} </p><hr>
    <p>location            : {{ location }} </p><hr>
    <p>Project Duration    : {{ In }} <strong>-</strong>  {{ duration }} </p><hr>
    
    
</div>
 


{% endblock %}


