.navbar{
    background-color:#ffffff;
    margin-bottom: 20px;
    /* padding: 50%; */
    
    
}
.nav-link{
    color:#4a0904;
    margin-left: 15px;
    font-size: 14px;
    font-family: 'Graduate', cursive;
}
.nav-link:hover{
    color:#3053a6;
}
#brand{
    margin-left: -15px;
}
#brand-name{
    /* font-size: 15px; */
    font-family: 'Russo One', sans-serif;
    color:gray
    

}

#toggler{
    /* border-color: rgb(192,192,192); */
    padding: 0px;


}
.navbar-toggler .navbar-toggler-icon{
    border-color:grey;
    /* background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); */
    background-image:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(9,55,244, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}




/* Partners App Styling */
.wrapper{
    /* margin: 80px; */
    margin-top:100px;   
}
.form-signin{
    max-width: 380px;
    margin: 0 auto;
    border:1px solid grey;
    padding: 15px 40px 50px;
    border-radius: 10px;
}
.form-signin .form-sigin-heading{
    color: #ff4500;
    font-family: 'Crimson Text', serif;
   
}


#signin-heading{
    color:#F52A2A;

}
#signinbtn{
    font-family: 'Crimson Text', serif;

}



.form-signup{
    max-width: 380px;
    margin:0 auto;  
    border: 1px solid #828282;
    padding: 15px 40px 50px;
    border-radius: 0px;

}
.form-signup .form-signup-heading{
    color: #ff4500;
    font-family: 'Crimson Text', serif;

}
.wrapper2{
    /* margin:80px */
    /* margin-top: 100px; */
    margin-right:2px ;
    margin-bottom: 30px;
    
}



/* Partners App styling Ended Here */