<html>
{% extends 'Uls_PartnerApp/base.html' %}
{% load static %}
{% load crispy_forms_tags %}



{% block content %}
<br><br><br><br><br>
<div class="wrapper2">
    <form class="form-signup"method="post">
    <h2 class="form-signup-heading text-center"> Join Today</h2>
    <hr>
      {% csrf_token %}
      {{ form | crispy }}
      <button type="submit" class="btn btn-danger btn-block" id="signupbtn">Sign Up</button>    
      <hr>
    <small class='text-muted font-weight-bold'>Already Have Account ? <a class="ml-2" href="">Sign In</a></small>
  </form>
</div>



{% endblock %}