{% block content %}
<br>
<div class="container">
    <h3>A New Tutor Interested And Posted His Details To become Uls Tutor</h3>
    <p>Applied By Tutor    : {{ User }}</p>
    <p>Email               : {{ email }}</p>
    <p>Phone               : {{ phone }}</p>
    <p>Country             : {{ country }} </p>
    <p>State               : {{ state }} </p>
    <p>Subject             : {{  Tutor_subject }}</p>
    <p>Youtube-Url         : {{  ytube_Url  }}</p>
    
</div>
 

{% endblock %}


