{% block content %}
<br>
<div class="container" style="background-color:lightblue; padding: 20px;">
    <h3>A New Youtuber Interested And Posted His Details To become Uls Tutor/Partner</h3><hr>
    <p>Applied By Tutor    : {{ User }}</p><hr>
    <p>Email               : {{ email }}</p><hr>
    <p>Phone               : {{ phone }}</p><hr>
    <p>Country             : {{ country }} </p><hr>
    <p>State               : {{ state }} </p><hr>
    <p>Youtube Subject     : {{  Youtube_Subject }}</p><hr>
    <p>Youtube Url         : {{  Youtube_Url  }}</p><hr>
    
</div>
 

{% endblock %}


