<!DOCTYPE html>
{% extends 'Uls_PartnerApp/base.html' %}
{% block content %}
<br><br><br><br>

<div class="container">
  <h2 id="t-head">INSTRUCTOR TERMS & CONDITIONS</h2>
  <div class="container">
    
<div id="content-blck-blue" class="container well">
  <h5>Last updated: February 01, 2021</h5> <br>
  <p>When you sign up to become an instructor on the ULS Learning Management System
    (LMS) platform, you agree to abide by these Instructor Terms &amp; Conditions (“Terms“).
    These Terms cover details about the aspects of the ULS LMS platform that are relevant
    to instructors and the general terms that govern your use of our Services.
    </p>
  </div>
  <!-- content 2-->
  <div id="content-blck-white" class="container well">
      <h5>As an instructor, you are contracting directly with ULS.</h5>
    <h6>1. Instructor Obligations</h6>
    <p>As an instructor, you are responsible for all content that you post, including lectures,
        quizzes, coding exercises, practice tests, assignments, resources, answers, course
        landing page content, and announcements.
    </p>
    <h6>You represent and warrant that:</h6>
    <p>
        ● you will provide and maintain accurate account information; <br>
        ● You own or have the necessary licenses, rights, consents, permissions, and
        authority to authorize ULS to use your Submitted Content as specified &nbsp;&nbsp; in these
        Terms. <br>
        ● your Submitted Content will not infringe or misappropriate any third party’s
        intellectual property rights; <br>
        ● You have the required qualifications, credentials, and expertise (including
        education, training, knowledge, and skill sets) <br> &nbsp;&nbsp; to teach and offer the services
        that you offer through your Submitted Content and use of the Services. <br>
        ● you will respond promptly to students and ensure a quality of service that
        corresponds with the standards of your <br> &nbsp;&nbsp; industry and instruction services in
        general; and <br>
        ● You will produce content that is accurate and of best quality. <br>
    </p>
    <h6>You warrant that you will not:</h6>
    <p>
        Post or provide any inappropriate, offensive, racist, hateful, sexist,
        pornographic, false, misleading, incorrect, infringing, defamatory or libelous
        content or information; <br>
        <br>
        ● post or transmit any unsolicited or unauthorized advertising, promotional
        materials, junk mail, spam, or any other form of  <br> &nbsp;&nbsp; solicitation  (commercial or
        otherwise) through the Services or to any user; <br>
        ● use the Services for business other than providing tutoring, teaching, and
        instructional services to students;<br>
        ● engage in any activity that would require us to obtain licenses from or pay
        royalties to any third party, <br> &nbsp;&nbsp; including the need to pay royalties for the public
        performance of a musical work or sound recording;<br>
        ● frame or embed the Services (such as to embed a free version of a course) or
        otherwise circumvent the Services;<br>
        ● impersonate another person or gain unauthorized access to another person’s
        account; <br>
        ● interfere with or otherwise prevent other instructors from providing their
        services or courses; or <br>
        ● Abuse ULS’s resources, including support services. <br>
    </p>
</div>
  <!-- content 3 -->
  <div id="content-blck-blue" class="container well">
    <h6>2. License to ULS LMS Platform</h6>
    <p>
        ● You grant ULS the rights to offer, market, and otherwise exploit your Submitted Content,
        and to sublicense it to students for these <br> &nbsp;&nbsp; purposes directly or through third parties. This
        includes the right to add captions or otherwise modify content to ensure accessibility. <br>
        ● Unless otherwise agreed, you have the right to remove all or any portion of your
        Submitted Content from the Services at any time. <br>  &nbsp;&nbsp; Except as otherwise agreed, ULS’s
        right to sublicense the rights in this section will terminate with respect <br>  &nbsp;&nbsp; to new users 60
        days after the Submitted Content’s removal. However, <br> &nbsp;&nbsp; (1) rights given to students
        before the  Submitted Content’s removal will continue in accordance with the terms of
        those licenses  <br>  &nbsp;&nbsp;  &nbsp;(including any grants of lifetime access) and <br>  &nbsp;&nbsp; (2) ULS’s right to use such
        Submitted Content for marketing purposes shall survive termination.
        <br>
        ● We may record all or any part of your Submitted Content for quality control and for
        delivering, marketing, promoting, <br>  &nbsp;&nbsp; demonstrating, or operating the Services. You grant
        ULS permission to use your name, likeness, voice, and image in <br> &nbsp;&nbsp; connection with
        offering, delivering, marketing, promoting, demonstrating, and selling the Services, your
        Submitted Content,  <br> &nbsp;&nbsp; or ULS’s content, and you waive any rights of privacy, publicity, or
        other rights of a similar nature, to the extent permissible under applicable law.
    </p>
  </div>
  <!-- content4 -->
  <div id="content-blck-white" class="container well"> 
    <h6>3. Trust &amp; Safety</h6>
    <h6>
        3.1 Trust &amp; Safety Policies
    </h6>
    <p>
        &nbsp;&nbsp;
        You understand that your use of the Services is subject to ULS’s approval, which we
        may grant or deny at our sole discretion.
        We reserve the   &nbsp;&nbsp;&nbsp;&nbsp;right to remove courses, suspend pay-outs, and/or ban instructors for
        any reason at any time, without prior notice, including in cases where: <br>  &nbsp;&nbsp;
        ● an instructor or course does not comply with our policies <br>  &nbsp;&nbsp;
        ● a course falls below our quality standards or has a negative impact on the
        student experience; <br>  &nbsp;&nbsp;
        ● an instructor engages in behavior that might reflect unfavorably on ULS or
        bring ULS into public disrepute, contempt, scandal, or ridicule; <br>  &nbsp;&nbsp;
        ● an instructor engages the services of a marketer or other business partner
        who violates ULS’s policies; or <br>  &nbsp;&nbsp;
        ● As determined by ULS in its sole discretion.
    </p>
  </div>
  <!-- content5 -->
  <div id="content-blck-blue" class="container well">
    <h6>3.2 Co-Instructors and Teaching Assistants</h6>
    <p>
    &nbsp;&nbsp;
    The ULS LMS platform allows you to add other users as co-instructors or teaching
    assistants for courses that you manage. <br> &nbsp;&nbsp; By adding a co-instructor or teaching assistant,
        you understand that you are authorizing them to take certain actions that <br> &nbsp;&nbsp; affect your
        ULS LMS account and courses. ULS is not able to advise on any questions or mediate
        any disputes between <br> &nbsp;&nbsp; you and such users. If your co-instructors have an assigned
        revenue share, their share will be paid out of your earned revenue  <br>&nbsp;&nbsp; share based on the
        ratios you have specified in your Course Management settings as of the date of the
        purchase.
    </p>
  </div>
  <!-- fontent6 -->
  <div id="content-blck-white" class="container well">
    <h6>3.3 Relationship to Other Users</h6>
    <p>
    &nbsp;&nbsp;
        Instructors don’t have a direct contractual relationship with students, so the only
        information you’ll receive about students is <br>&nbsp;&nbsp;  what is provided to you through the
        Services. You agree that you will not use the data you receive for any purpose other <br>&nbsp;&nbsp; than
        providing your services to those students on the ULS LMS platform, and that you won’t
        solicit additional personal data or <br>&nbsp;&nbsp; store students’ personal data outside the ULS LMS
        platform. You will indemnify ULS against any claims arising from your <br>&nbsp;&nbsp; use of students’
        personal data.
    </p>
  </div>
  <!-- content 7 -->
  <div id="content-blck-blue" class="container well">
    <h6>4. Pricing</h6>
    <h6>4.1 Price Setting</h6>
    <p>
        &nbsp;&nbsp;
        When creating a course, you will be prompted to set a price for your courses. ULS will
        provide advice on your course <br> &nbsp;&nbsp; price based on guidelines and the Human Resources
        Development Fund (HRDF) Claiming System. <br>
        &nbsp;&nbsp;
        You give us permission to share your courses for an adjusted price or for free with our
        employees, with selected partners, <br> &nbsp;&nbsp; for promotional activities, and in cases where we
        need to restore access to accounts who have previously purchased your courses. <br> &nbsp;&nbsp; You
        understand that you will not receive compensation in these cases.
    </p>
  </div>
  <!-- content 8 -->
  <div id="content-blck-white" class="container well">
    <h6>5. Payments</h6>
    <h6>5.1 Revenue Share</h6>
    <p>
        &nbsp;&nbsp;
            Revenue is distributed on a “profit-share” basis. You are able to enjoy 50% profit with
            regular students.
            <br> &nbsp;&nbsp;
            If we change this payment rate, we will provide you 30 days’ notice using prominent
            means, such as via email.
            ULS makes all instructor payments <br>&nbsp;&nbsp; in INDIAN (INR) regardless of the currency with
            which the sale was made. Your revenue report will show the sales price in INDIAN (INR)    
    </p>
  </div>
  <!-- content 9 -->
  <div id="content-blck-blue" class="container well">
    <h6>5.2 Receiving Payments</h6>
    <p>
        &nbsp;&nbsp;
        For us to pay you in a timely manner, you must provide us accurate details regarding
        your bank account and must keep us <br> &nbsp;&nbsp; informed of the correct email associated with your
        account. We reserve the right to withhold payments or impose other <br> &nbsp;&nbsp; penalties if we do
        not receive proper identifying information or banking details from you. You understand
        and agree <br> &nbsp;&nbsp; that you are ultimately responsible for any taxes on your income.
        Payment will be made within 30 days of the end of the month.
        <br> &nbsp;&nbsp;
        We reserve the right not to pay out funds in the event of identified fraud, violations of
        intellectual property rights, or other violations of the law.
    </p>
  </div>
  <!-- content 10 -->
  <div id="content-blck-white" class="container well">
  <h6>6. Trademarks</h6>
    <p>
         &nbsp;&nbsp;
        While you are a published instructor and subject to the requirements below, you may
        use our trademarks where we authorize you to do so.
        <br> &nbsp;&nbsp;
        You must: <br> &nbsp;&nbsp;
        ● only use the images of our trademarks that we make available to you <br> &nbsp;&nbsp;
        ● only use our trademarks in connection with the promotion and sale of your
        ULS courses or your participation on ULS LMS Platform; and <br> &nbsp;&nbsp;
        ● Immediately comply if we request that you discontinue use. <br> &nbsp;&nbsp;
        You must not: <br>  &nbsp;&nbsp;
        ● use our trademarks in a misleading or disparaging way; <br> &nbsp;&nbsp;
        ● use our trademarks in a way that implies that we endorse, sponsor, or approve
        of your courses or services; or <br>  &nbsp;&nbsp;
        ● Use our trademarks in a way that violates applicable law or in connection with
        an obscene, indecent, or unlawful topic or material.
    </p>
  </div>
  <!-- content 11 -->
  <div id="content-blck-blue" class="container well">
    <h6>7. Deleting Your Account</h6>
    <p>
        &nbsp;&nbsp;
        We’ll use commercially reasonable efforts to make any remaining scheduled payments
        that are owed to you before <br>  &nbsp;&nbsp; deleting your account.You understand that if students have
        previously enrolled in your courses, your name and <br> &nbsp;&nbsp; that Submitted Content will remain 
        accessible to those students after your account is deleted.    
    </p>
  </div>
  <!-- content 12 -->
  <div id="content-blck-white" class="container well">
    <h6>8. Miscellaneous Legal Terms</h6>
    <h6>8.1 Updating These Terms</h6>
    <p>
        &nbsp;&nbsp;
        From time to time, we may update these Terms to clarify our practices or to reflect new
        or different practices (such as when <br> &nbsp;&nbsp; we add new features), and ULS reserves the right in
        its sole discretion to modify and/or make changes to these Terms at any time. <br> &nbsp;&nbsp; If we
        make any material change, we will notify you using prominent means such as by email
        notice sent to the email address. <br> &nbsp;&nbsp; Modifications will become effective on the day they
        are posted unless stated otherwise.
        Your continued use of our <br> &nbsp;&nbsp; Services after changes become effective shall mean that you
        accept those changes. Any revised Terms shall supersede all previous Terms.
    </p>
  </div>
  <!-- content 13 -->
  <div id="content-blck-blue" class="container well">
    <h6>8.2 Relationship between Us</h6>
    <p>
        &nbsp;&nbsp;
        You and we agree that no joint venture, partnership, employment, contractor, or agency
        relationship exists between us.
    </p>
  </div>
  <!-- content 14 -->
  <div id="content-blck-white" class="container well">
    <h6>8.3 Survival</h6>
    <p>
        &nbsp;&nbsp;
        The following sections shall survive the expiration or termination of these Terms: <br>  &nbsp;&nbsp;
        Sections 2 (License to ULS), 3.3 (Relationship to Other Users), 5.2 (Receiving
        Payments), <br> &nbsp;&nbsp; 7 (Deleting Your Account), and 8 (Miscellaneous Legal Terms).    
    </p>
  </div>
  <!-- content 15 -->
  <div id="content-blck-blue" class="container well">
    <h6>9. How to Contact Us</h6>
    <p>
        &nbsp;&nbsp;
        The best way to get in touch with us is at <u><b>contact@Ulearnsolutions.com</b> </u> We’d love to
        hear your questions, <br> &nbsp;&nbsp; concerns, and feedback about our Services
    </p>
  </div>
  <br>
  <!-- back to home page -->
  <div class="container">
    <a href="{% url 'home' %}"> <button  class="btn btn-outline-dark btn-block">Back To Home</button></a>
  
  
    </button>
  
  </div>


  </div>
</div>
<br><br><br>
<br>

{% endblock %}